﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Webpage2.aspx.cs" Inherits="Sol_CrossPostBack_Using_Label.Webpage2" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div
            <asp:Label ID="lblName1" runat="server"></asp:Label><br>
            <asp:Label ID="lblName2" runat="server"></asp:Label><br>
            <asp:Label ID="lblName3" runat="server"></asp:Label><br>
            <asp:Label ID="lblName4" runat="server"></asp:Label><br>
            <asp:Label ID="lblName5" runat="server"></asp:Label><br>

        </div>
    </form>
</body>
</html>
